[submodule "theming/firefox/MaterialFox"]
	path = theming/firefox/MaterialFox
	url = https://github.com/muckSponge/MaterialFox
[submodule ".config/up"]
	path = .config/up
	url = https://github.com/shannonmoeller/up
